<!-- templates/account/customer/password_reset.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Redefinir a Palavra-passe" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Redefinir a Palavra-passe" %}</h1>

    <p>{% trans "Esqueceste da tua palavra-passe? Introduz o teu e-mail abaixo e vais receber um e-mail para que possas redefini-la" %}</p>
    {% url 'account_reset_password' as reset_url %}

    <form method="post" action="{{ reset_url }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Alterar' %}</button>
    </form>

    <p>{% blocktrans %}Contacte-nos se tiver problemas em redefinir a sua palavra-passe.{% endblocktrans %}</p>
{% endblock content %}