<!-- templates/account/customer/password_reset_from_key.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Redefinição da Palavra-passe" %}
{% endblock head_title %}

{% block content %}
    <h1>
        {% if token_fail %}
            {% trans "Pedido Expirado" %}
        {% else %}
            {% trans "Redefinição da Palavra-passe" %}
        {% endif %}
    </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}A ligação para a redefinição da palavra-passe é inválida, possivelmente já foi utilizada ou já passou o tempo limite. Por favor, solicita novamente <a href="{{ passwd_reset_url }}">a redefinição de uma nova palavra-passe.</a>.{% endblocktrans %}
        </p>
    {% else %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form.as_p }}
            <button type="submit" name="action">
                {% trans 'Alterar' %}
            </button>
        </form>
    {% endif %}
{% endblock content %}