<!-- templates/account/customer/password_reset_done.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Redefinir a Palavra-passe" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Redefinir a Palavra-passe" %}</h1>

    <p>{% blocktrans %}Enviámos-te uma mensagem para o e-mail. Se não receberes, verifica a tua pasta de spam. Caso contrário, contacta-nos se não a receberes dentro de alguns minutos.{% endblocktrans %}</p>
{% endblock content %}