<!-- templates/account/customer/profile.html -->
{% extends "_base.html" %}

{% block title %}Perfil{% endblock title %}

{% block content %}
    <h2>Dados do Utilizador:</h2>
    <form method="post">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit" name="save_profile" class="btn btn-primary">Alterar</button>
    </form>
    <p>
        {% if email_verified %}
            ✅ O teu email está verificado.
        {% else %}
            ⚠️ O teu email ainda não está verificado.
            <a href="{% url 'account_email' %}" class="btn btn-link">Clique aqui para enviar novamente o pedido de confirmação.</a>.
        {% endif %}
    </p>
    <h2>Alterar a Palavra-passe:</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" name="change_password" class="btn btn-danger">Alterar</button>
    </form>
    <h2>Morada de envio e Faturação:</h2>
    <form method="post">
        {% csrf_token %}
        {{ address_form.as_p }}
        <button type="submit" name="save_address" class="btn btn-primary">Alterar</button>
    </form>
{% endblock content %}