<!-- templates/books/book_detail.html -->
{% extends "_base.html" %}

{% block title %}{{ meal.meal_name }}{% endblock title %}

{% block content %}
    <div class="meal-detail">
        {% if meal.image %}
            <img class ="mealimg" src="{{ meal.image.url }}" alt="{{ meal.meal_name }}">
        {% endif %}
        <h2><a href="">{{ meal.meal_name }}</a></h2>
        <p>Categoria: {{ meal.category }}</p>
        <p>Preço: {{ meal.price }}</p>
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in meal.reviews.all %}
                    <li>{{ review.review }} {{ review.user_review}}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

