<!-- templates/mod/mod_dashboard.html -->
{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h1>Painel dos Pedidos</h1>

    <form id="status-update-form" method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID do Pedido</th>
                    <th>Data</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Telomóvel</th>
                    <th>Preço Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'order_detail' order.id %}">{{ order.id }}</a>
                    </td>
                    <td>{{ order.created_at|date:"d/m/Y H:i" }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>
                        <select class="form-select status-dropdown" name="status_{{ order.id }}">
                            {% for key, value in order.STATUS_CHOICES %}
                            <option value="{{ key }}" {% if order.status == key %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{ order.billing_info.phone|default:"N/A" }}</td>
                    <td>{{ order.total_price }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Pedidos não encontrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Save Button -->
        <button type="submit" class="btn btn-primary mt-3">
            <i class="bi bi-floppy-fill"></i> Salvar Alterações
        </button>
    </form>
</div>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let form = document.getElementById("status-update-form");
        
        if (form) {
            form.addEventListener("submit", function () {
                alert("Status atualizado com sucesso!"); 
            });
        }
    });
</script>